repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
    - id: mixed-line-ending
    - id: check-added-large-files
      args: ['--maxkb=20000']
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
    - id: check-yaml
    #- id: check-json
    #- id: pretty-format-json
    #  args: ['--autofix']
    - id: check-merge-conflict
    - id: check-case-conflict
    - id: check-docstring-first

- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]


#- repo: https://github.com/nbQA-dev/nbQA
#  rev: 1.7.0
#  hooks:
#    - id: nbqa-black
#      #additional_dependencies: [jupytext]  # optional, only if you're using Jupytext
#    - id: nbqa-pyupgrade
#      args: ["--py37-plus"]
#    - id: nbqa-isort
#      args: ["--float-to-top"]
